

/* Normalice */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


html {
    font-family: "Inter", sans-serif;
    color: gray;
    margin: 0%;
    padding: 0%;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: #fff;
    color: black;
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 16px;
    writing-mode: horizontal-tb; 
}
a {
    text-decoration: none;
    color: #fff;
    border-radius: 1rem;
    margin: 1rem;
    width: max-content;
}
a:hover{
    color: #4f6847;
}
ul{
    list-style: none;
}




#carrito-logo{
    font-size: 3rem;
    color: #fff;
}
.cuenta-carrito{
    color: white;
    font-size: 0.7rem;
    font-weight: bolder;
    background-color: red;
    padding: 0.2rem 0.5rem;
    border-radius: 60px;
}
.container .container__Nav .cart{
    border-radius: 1rem;
    padding: 5px 1rem;
    border: none;
    background-color: #0b0c0d;
    color: #fff;
}
.container .container__Nav .cart a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;
}
.container .container__Nav button div p span{
    color: #fff;
}








/* ///////////////////////////////////////////////// */


/* Contenedor principal(Para agregarle estilos. En este caso un ancho maximo a toda mi pagina) */

.container__Vw{
    height: 100vh;
    margin: auto;
}






/* ///////////////////////////////////////////////// */

/* Comienzo de mi header  */

.container{
    max-width: 100%;
    overflow: hidden;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0b0c0d;
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
    margin: auto;
}
.container img{
    width: 60px;
    border-radius: 100%;
}
.container .container__List{
    display: flex;
    margin: auto 0;
    width: max-content;
}
.static{
    color: #4f6847;
}
.container .container__Nav{
    display: flex;
    justify-content: space-between;
    width: max-content;
}
.container .container__Nav a{
    margin: auto;
    width: max-content;
}
.container .container__Nav .loginUp{
    border-radius: 1rem;
    border: 2px solid #fff;
    background-color: #0b0c0d;
    color: #fff;
}
.container .container__Nav .loginUp:hover{
    background-color: #628158;
    color: #0b0c0d;
}



/* Form */

.main__Descuentos{
    text-align: center;
}

.formContainer {
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center;
}

.formContainer form {
    display: flex;
    flex-flow: column nowrap;
}

.formContainer input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 35vw;
}
.formContainer input[type=submit] {
    font-size: 14px;
    font-weight: 600;
    background-color: #0b0c0dcc;
    color: white;
}
.formContainer input[type=submit]:hover{
    background-color: #628158;
}
.formContainer{
    display: flex;
    margin: 3rem auto;
    height: 71vh;
}





/* ///////////////////////////////////////////////// */

/* Start of main */

.main{
    display: grid;
    grid-template-columns: repeat(1,50%);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "slider slider"
    "grids1 grids2";
    row-gap: 1rem;
}
.main .main__Slider{
    grid-area: slider;
}
.main .main__Slider img{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}
.main .main__Information{
    grid-area: grids1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 50%;
    height: 30vh;
    margin: auto;
}
.main .main__Information button{
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid #0b0c0d;
    padding: 10px;
    /* ---------------------------------------------- */
    /* outline: ;  averiguar como sacarle el border */
}
.main .main__Information button a{
    color: #0b0c0d;
    width: max-content;
}
.main .main__Information button:hover{
    background-color: #628158;
}
.main .main__Picture{
    grid-template-areas: grids2;
    margin: auto;
}
.main .main__Picture img{
    width: 100%;
}



.buttonDescount{
    max-width: 350px;
    margin: 0 auto ;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #4f6847;
    border-radius: 10px;
}
.buttonDescount:hover{
    background-color: #628158;
    color: #fff;
}
.main__Descuentos .formContainer{
    justify-content: space-around;
}
.main__Descuentos .formContainer #formulario{
    justify-content: space-around;
    height: 40vh;
}





/* ///////////////////////////////////////////////// */

/* Comienzo del footer */

.footer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    text-align: center;
    border-top: 1px solid #fff;
    position: relative;
    bottom: 0%;
    width: 100%;
    background-color: #0b0c0d;
}
.footer .footer__Nav{
    display: flex;
    margin: auto;
    padding: 2rem;
}
.footer .footer__Nav li{
    margin: 0 1rem;
}
.footer a{
    margin: auto;
}
.footer a img{
    height: 60px;
    margin: 1rem auto 0;
    border-radius: 100%;
}
.footer .footer__Redes{
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
}
.footer .footer__Redes aside{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 2rem;
}










/* ///////////////////////////////////////////////// */

/* section productos */
.galeri{
    display: flex;
    justify-content: flex-start;
    margin: 2rem;
}
.galeri .main__Galeri{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-basis: content;
    justify-content: flex-end;
    max-width: 1080px;
    margin: auto;
}




/* ///////////////////////////////////////////////// */

/* Buttom */

.card__Button{
    width: 300px;
    padding: 5px 1rem;
    margin: 1rem auto;
    border: 1px solid #4f6847;
    border-radius: 1rem;
    background-color: #fff;
}
.card__Button:hover{
    background-color: #628158;
    cursor: pointer;
    color: #fff;
} 
.seleccionarProducto{
    width: 300px;
    padding: 5px 1rem;
    margin: 1rem auto;
    border: 1px solid #4f6847;
    border-radius: 1rem;
    background-color: #fff;
}
.seleccionarProducto:hover{
    background-color: #628158;
    cursor: pointer;
    color: #fff;
}
.seleccionButton{
    height: 60vh;
    width: 21%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.tituloButton{
    width: 100%;
    text-align: center;
}



/* ///////////////////////////////////////////////// */

/*cart  */
.sectionCart{
    border: 1px solid #4f6847; 
    height: max-content; 
}

.sectionCart .cart__header{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    gap: 15px;
    margin: 0% 5px;
}
.sectionCart .vaciarCarrito{
    padding: 5px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    border: 1px solid #0b0c0d;
    width: max-content; 
    align-items: center;
    margin: 1rem auto;
    text-align: center;
}
.sectionCart .vaciarCarrito:hover{
    background-color: red;
    color: #fff;
    font-size: 16px;
    margin: 14.5px auto;
    
}
.cart{
    height: 70vh;
    width: min-content;
    border-top: 3px solid #4f6847;
    overflow-y: auto;
}
.cart .cart-Items{
    margin: 1rem;
}
.cart__Precio{
    width: max-content;
    color: rgba(48, 221, 48, 0.704);
}
.cart__header img{
    object-fit: cover;
    object-position: center top;
    display: block;
    opacity: 0.4;
    filter: grayscale(100%);
    max-width: 20%;
}
.cart__Nombre{
    width: max-content;
    font-size: 16px;
}


/* -------------------------- */
/* card */
.card{
    max-width: 20em;
    margin: 1em;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.95);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}
.card__Imagen{
    max-height: 20em;
    overflow: hidden;
    background: linear-gradient(38deg, #000428, #628158);
    border-radius: 10px 10px 0 0 ;
}
.card__Imagen img{
    object-fit: cover;
    object-position: center top;
    display: block;
    opacity: 0.4;
    filter: grayscale(100%);
    max-width: 20em;
}
.card__Contenido{
    padding: 1em 1em 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.card__Cabecera{
    border-bottom: 1px solid rgba(0, 78, 146, 0.2);
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.card__Nombre{
    margin: 0%;
    color: #004e92;
    font-style: italic;
}
.card__Bio{
    font-size: 0.8em;
    line-height: 1.5;
    flex-grow: 1;
}



/* ///////////////////////////////////////////////// */

/* Section of media query */
@media (max-width: 1010px) {
    .main .main__Information{
        text-align: center;
        width: 40vw;
    }
    .main .main__Information button{
        width: 100px;
    }
}
@media (max-width: 600px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 74vh;
        margin: auto;
        overflow-y: scroll;
    }
    
    .main img{
        object-fit: cover;
        max-height: 40vh;
    }
    
    .main .main__Information{
        text-align: center;
        width: 100%;
    }
    .main .main__Information p{
        width: 90%;
        margin: auto;
    }
    .main .main__Information button{
        margin: 1rem auto;
    }
}
